* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: blue;
}

h1 {
  color: yellow;
}

h1:hover {
  color: beige;
}

h2 {
  color: yellow;
}

h2:hover {
  color: beige;
}

h3 {
  color: yellow;
}

h3:hover {
  color: beige;
}

header {
  padding: 1em;
}

header .burguer {
  margin: 2em;
}

body {
  background-color: red;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 50px;
}
