@import "lib/vars";
@import "reset";
@import "tipography";
@import "partials/titles";
@import "partials/header";
body {
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}